@import "tailwindcss";



@font-face {
  font-family: "Biski";
  src: url("/Fonts/biski/BiskiTrial-Regular.otf") format(opentype);
}
@font-face {
  font-family: "Dana";
  src: url("/Fonts/dana/dana medium.ttf") format(truetype);
}
@font-face {
  font-family: "Niaz";
  src: url("/Fonts/niaz/niaz.ttf") format(truetype);
}

*{
  font-family:"Dana";
}




body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: 25px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(130, 130, 130);
    border-radius: 25px;
}

.changeScroll::-webkit-scrollbar {
    height:  7px;
}

.changeScroll::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: 25px;
}

.changeScroll::-webkit-scrollbar-thumb {
    background-color: rgb(130, 130, 130);
    border-radius: 25px;
}


body {
background-color: #303030;
width: 100%;
height: 100%;
}

